extends ../layouts/common.pug

block content
    h1 New transfer
    form( method="POST")
        .form-group
            label(for="account") Account
            input#account(name="accountId", type="text",class="form-control")
        .form-group
            label(for="amount") Amount
            input#amount(name="amount", type="number",class="form-control")    
        button.btn.btn-primary Transfer
    